ion-content {
  --background: #fbfdff;
}

.container {
  background-color: #fbfdff;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;

  &__swiper {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
  }

  .add-certificate {
    flex: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

:host ::ng-deep .swiper-wrapper {
  box-sizing: border-box;
  padding: 32px 0;
}

:host ::ng-deep .swiper-horizontal > .swiper-pagination-bullets {
  top: 0;
  bottom: unset;
}

:host ::ng-deep .swiper-pagination-bullet {
  background-color: var(--ion-color-primary);
}
