<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <strong>VacunApp</strong>
    </ion-title>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addCertificate()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollY="false">
  <div class="container">
    <div class="add-certificate" *ngIf="certificates.length === 0">
      <ion-button
        (click)="addCertificate()"
        expand="block"
        fill="clear"
        color="dark"
        style="background-color: #ffffff"
      >
        <ion-icon slot="start" name="add-circle"></ion-icon>

        Agregar un nuevo carnet
      </ion-button>
    </div>

    <swiper
      *ngIf="certificates.length > 0"
      [config]="swiperConfig"
      class="container__swiper"
    >
      <ng-template swiperSlide *ngFor="let certificate of certificates">
        <app-card
          [certificate]="certificate"
          (deleted)="deleteCertificate($event)"
        ></app-card>
      </ng-template>
    </swiper>

    <ion-button (click)="scanQr()" expand="block" style="margin-bottom: 16px">
      <ion-icon slot="start" name="barcode"></ion-icon>

      <p style="font-weight: bold">Escanear QR</p>
    </ion-button>
  </div>
</ion-content>
